main {
    height: 100vh;
    display: grid;
    font-family: sans-serif;
    gap: 10px;
    /*Especificar posicion de las areas*/
    grid-template-areas: 
        "header header header header header"
        "izquierda contenido contenido contenido derecha"
        "izquierda contenido contenido contenido derecha"
        "footer footer footer footer footer";
    }

main > * {
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    grid-area: header;
}

aside:first-of-type {
    grid-area: izquierda;
}

article {
    grid-area: contenido;
}

aside:last-of-type {
    grid-area: derecha;
}

footer{
    grid-area: footer;
}

/*Responsive*/

@media (min-width: 500px){
    main {
        grid-template-areas: 
            "header header derecha"
            "izquierda contenido derecha"
            "izquierda footer derecha";
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 2fr 5fr 1fr;
    }
}